td{font-size:13px;line-height:140%}
body{font-size:13px;line-height:140%}

a:link          { color: #133db6; text-decoration: none }
a:visited       { color: #133db6; text-decoration: none }
a:active        { color: #133db6; text-decoration: none }
a:hover         { color: #133db6; text-decoration: underline}

.kongxi{
    padding-top: 10px;
    color:red;
    clear: both;
}

.main{
    margin: 2px auto;
}
.bk_border{
    width:400px;
    height: auto;
    border: 1px #133db6 solid;
    text-align: left;
}
.login{
    margin-top: 80px;
}
.statue{
    margin-top: 10px;
}
.bk_title{
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.bk_file{
    line-height: 30px;
    margin-left: 90px;
}
.bk_file1{
    line-height: 25px;
    margin-left: 5px;
}
.pop{
    color:red;
    display: none;
}
.line{
    border-top: 1px #00ccff solid;
}

.banquan{
    margin-top: 20px;
    text-align: center;
}

.input_border{
	border:1px #91A2AE solid;
}